* { margin: 0; padding: 0; box-sizing: border-box; }

.header, .footer {
  background: rgb(24, 2, 119);
  color: white;
  text-align: center;
  padding: 15px;
}

.flex-container {
  display: flex;
}

.sidebar-left, .sidebar-right {
  width: 20%;
  background: lightgray;
  padding: 10px;
}

.main-content {
  flex: 1;
  background: #f9f9f9;
  padding: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  .sidebar-left, .sidebar-right {
    width: 100%;
  }
}
