<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task 13 - Portfolio Layout</title>
  <link rel="stylesheet" href="/Styles/Task13.css">
</head>
<body>

<header>
  <h1>My Portfolio</h1>
</header>

<div class="layout">
  <aside class="sidebar">Sidebar</aside>
  <main class="gallery">
    <div class="project">Project 1 
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, provident praesentium recusandae sunt tenetur suscipit deserunt aspernatur nisi eius optio quas quidem. Tempore dolores error provident, quam saepe cumque dolor.</p>
    </div>

    <div class="project">Project 2
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam excepturi, vitae debitis dolorum neque doloremque unde quasi ratione, doloribus eos cupiditate omnis repellendus sequi iure eius quibusdam tenetur fuga eum.</p>
    </div>

    <div class="project">Project 3
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam error architecto explicabo necessitatibus eligendi reiciendis, laboriosam optio dignissimos in labore magni dolore repudiandae nihil, quaerat asperiores repellendus quo impedit provident.</p>
    </div>

    <div class="project">Project 4
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut blanditiis fuga explicabo quisquam, eveniet at! Maiores deserunt, maxime voluptatibus blanditiis dolor unde nostrum ut odit ducimus nobis, eveniet, ratione illo?</p>
    </div>
  </main>
</div>

<div class="decoration"></div>

</body>
</html>
